ion-header::after
{
    display: none;
}

ion-toolbar
{
    --background: #582B8F;
    color: #FFFFFF;
    text-align: center;
}

ion-title
{
    font-size: 30px;
    font-weight: bold;
}

ion-content
{
    --background: #582B8F;
}

ion-card
{
    --background: #4D267E;
}

ion-card-title
{
    color: white;
    font-weight: bold;
    text-align: center;
}

.list
{
    background-color: #582B8F;
}

ion-item
{
    --background: #582B8F;
    color: white;
}

ion-button
{
    --background: white; 
    color: #582B8F; 
    font-size: 20px;
}

ion-col 
{
    background-color: #582B8F;
    border: #582B8F;
    text-align: center;
    align-items: center;
}

ion-searchbar
{
    --background: white;
    --color: #4D267E;
}

ion-fab-button
{
    --background: white;
    --color: #4D267E;
}

.add-button
{
    font-size: 50px;
}