ion-toolbar
{
  --background: #582B8F;
  color: #FFFFFF;
}

ion-header
{
  text-align: center;
}

ion-title
{
    font-weight: bold;
    font-size: 30px;
}

ion-content
{
  --background: #4D267E;
  --color: white;
}

