ion-toolbar
{
  --background: #8800C7;
  color: #FFFFFF;
}

ion-header
{
  text-align: center;
}

ion-title
{
    font-weight: bold;
    font-size: 30px;
}

ion-content
{
  --background: #663399;
  --color: white;
}

