<ion-header>
  <ion-toolbar>
    <ion-title>SETTINGS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="inset">
    <ion-item>
      <ion-label (click)="adjustIncome()">Adjust Income</ion-label>
    </ion-item>
    <br>
    <ion-item>
      <ion-label (click)="deleteIncome()">Delete Income</ion-label>
    </ion-item>
    <br>
    <ion-item>
      <ion-label>Contact Us</ion-label>
    </ion-item>
    <br> 
    <ion-item>
      <ion-label (click)="goToTerms()">Terms and Privacy Policy</ion-label>
    </ion-item>
    <br>
    <ion-item>
      <ion-label (click)="goToAbout()">About</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
