ion-header::after
{
    display: none;
}

ion-toolbar
{
    --background: #582B8F;
    color: #FFFFFF;
    text-align: center;
}

ion-title
{
    font-size: 30px;
    font-weight: bold;
}

ion-content
{
  --background: #582B8F;
}

ion-list
{
    background-color: #582B8F;
}

ion-item
{
    --background: #582B8F;
    --color: white;
    font-size: 25px;
}

ion-label
{
    text-align: center;
    font-weight: bold;
}

