ion-header::after
{
    display: none;
}

ion-toolbar
{
    --background: #663399;
    color: white;
    text-align: center;
}

ion-title
{
    font-size: 30px;
    font-weight: bold;
}

ion-content
{
    --background: #663399;
}

h1
{
    text-align: center;
    color: white;
    font-weight: bold;

}

ion-grid
{
    text-align: center;
}

ion-card-header
{
    color: #663399;
    font-size: 11px;
    font-weight: bold;
}


.loading-screen, .loading-spinner
{
    --color: #ffff00;
}