<ion-header>
  <ion-toolbar>
    <ion-title>FORECAST</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Disclaimer: The predictions/ prices are not 100% correct as this is the beta version</h1>

  <br>
  <br>
  <br>
  <br>
  <br>

  <ion-grid>
    <ion-row>
      <ion-col>Property Tax</ion-col>
      <ion-col>2</ion-col>
      <ion-col>3</ion-col>
      <ion-col>4</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Property Tax</ion-col>
      <ion-col>2</ion-col>
      <ion-col>3</ion-col>
      <ion-col>4</ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col>5</ion-col>
      <ion-col>6</ion-col>
      <ion-col>7</ion-col>
      <ion-col>8</ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col>9</ion-col>
      <ion-col>10</ion-col>
      <ion-col>11</ion-col>
      <ion-col>12</ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col>13</ion-col>
      <ion-col>14</ion-col>
      <ion-col>15</ion-col>
      <ion-col>16</ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col>17</ion-col>
      <ion-col>18</ion-col>
      <ion-col>19</ion-col>
      <ion-col>20</ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col>21</ion-col>
      <ion-col>22</ion-col>
      <ion-col>23</ion-col>
      <ion-col>24</ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col>25</ion-col>
      <ion-col>26</ion-col>
      <ion-col>27</ion-col>
      <ion-col>28</ion-col>
    </ion-row>
  </ion-grid>


  

</ion-content>
