<ion-header>
  <ion-toolbar>
    <ion-title>FORECAST</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Disclaimer: The predictions/ prices are not 100% correct as this is the beta version</h1>

  <br>
  <br>
  <br>
  <br>
  <br>

  <br>
  <br>

  
 <ion-grid>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>Property Tax Amount</ion-card-header>
        <ion-card-content>{{ property_tax_avg }} $</ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card>
        <ion-card-header>Mechaninc Tax Amount</ion-card-header>
        <ion-card-content>{{ mechanic_tax_avg }}</ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card>
        <ion-card-header>Municipality Tax Amount</ion-card-header>
        <ion-card-content>{{ municipality_tax_avg }}</ion-card-content>
      </ion-card>
    </ion-col>
    
    <ion-col>
      <ion-card>
        <ion-card-header>Car Insurance Amount</ion-card-header>
        <ion-card-content>{{ car_insurance_avg }}</ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
 </ion-grid>


  

</ion-content>
