<ion-content>
  <h1>Welcome to LifeBud Beta Version</h1>
  <p>This version is used for testing</p>
  <br>

  <ion-card>
    <ion-card-header>
      <ion-card-title>MY TASKS</ion-card-title>
      <ion-card-subtitle>TASKS AUTO DELETE AT THE START OF EACH MONTH</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list class = "list">
        <ion-item-sliding *ngFor="let name of list; let i = index;">
          <ion-item>
            <p *ngIf="list[0] != null">{{ name }}</p>
          </ion-item>
          <ion-item-options side = "end">
            <ion-item-option *ngIf="list[0] != 'Enter a New Task'" (click)="deleteEvent(i)">
              <ion-icon name = "trash" slot = "icon-only"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <br>
  <br>

  <ion-button color="primary">P</ion-button>

  <ion-card>
    <ion-card-header>DATE TEST</ion-card-header>
    <ion-card-content>
      <h1>TESTING 1</h1>
      
    </ion-card-content>
  </ion-card>

  <ion-slides pager="true" [options]="slide_options">
    <ion-slide>
      <ion-card>
        <ion-card-title>Wallet Until 1-{{ month_plus_1 }}-{{ year_plus_1 }}</ion-card-title>
        <ion-card-content>
          <ion-accordion-group>
            <ion-accordion *ngIf="income_str > '0'" [disabled]="false">
              <ion-item slot="header">
                <ion-label class="remaining">Remaining:</ion-label>
                <ion-badge slot="end" *ngIf="remaining > 0">{{ remaining }} $</ion-badge>
                <ion-badge class="badge2" slot="end" *ngIf="remaining <= 0">{{ remaining }} $</ion-badge>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-card>
                  <ion-card-content>
                    <ion-item>
                      <ion-label>Income:</ion-label>
                      <ion-badge slot="end">{{ income }} $</ion-badge>
                    </ion-item>
    
                    <ion-item *ngIf="property_tax_amount_postpone == false">
                      <ion-label>Property Tax:</ion-label>
                      <ion-badge slot="end">{{ property_tax_amount }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="mechanic_tax_amount_postpone == false">
                      <ion-label>Mechanic Tax:</ion-label>
                      <ion-badge slot="end">{{ mechanic_tax_amount }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="municipality_tax_amount_postpone == false">
                      <ion-label>Municipality Tax:</ion-label>
                      <ion-badge slot="end">{{ municipality_tax_amount }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="car_insurance_amount_postpone == false">
                      <ion-label>Car Insurance:</ion-label>
                      <ion-badge slot="end">{{ car_insurance_fees_amount }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="cable_bill_amount_postpone == false">
                      <ion-label>Cable Bill:</ion-label>
                      <ion-badge slot="end">{{ cable_bill_amount }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="internet_bill_amount_postpone == false">
                      <ion-label>Internet Bill:</ion-label>
                      <ion-badge slot="end">{{ internet_bill_amount }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="electricity_bill_amount_postpone == false">
                      <ion-label>Electricity Bill:</ion-label>
                      <ion-badge slot="end">{{ electricity_bill_amount }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="generator_bill_amount_postpone == false">
                      <ion-label>Generator Bill:</ion-label>
                      <ion-badge slot="end">{{ generator_bill_amount }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="grocery_bill_amount_postpone == false">
                      <ion-label>Grocery Bill:</ion-label>
                      <ion-badge slot="end">{{ grocery_bill_amount }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="fuel_bill_amount_postpone == false">
                      <ion-label>Fuel Bill:</ion-label>
                      <ion-badge slot="end">{{ fuel_bill_amount }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="water_dispenser_bill_amount_postpone == false">
                      <ion-label>Water Dispenser Bill:</ion-label>
                      <ion-badge slot="end">{{ water_dispenser_bill_amount }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="phone_bill_amount_postpone == false">
                      <ion-label>Phone Bill:</ion-label>
                      <ion-badge slot="end">{{ phone_bill_amount }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="heating_bill_amount_postpone == false">
                      <ion-label>Heating Bill:</ion-label>
                      <ion-badge slot="end">{{ heating_bill_amount }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="bank_fees_amount_postpone == false">
                      <ion-label>Bank Fees:</ion-label>
                      <ion-badge slot="end">{{ bank_fees_amount }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="credit_card_fees_amount_postpone == false">
                      <ion-label>Credit Card Fees:</ion-label>
                      <ion-badge slot="end">{{ credit_card_fees_amount }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="school_fees_amount_postpone == false">
                      <ion-label>School Fees:</ion-label>
                      <ion-badge slot="end">{{ school_fees_amount }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="university_fees_amount_postpone == false">
                      <ion-label>University Fees:</ion-label>
                      <ion-badge slot="end">{{ university_fees_amount }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="car_maintenance_fees_amount_postpone == false">
                      <ion-label>Car Maintenance Fees:</ion-label>
                      <ion-badge slot="end">{{ fuel_bill_amount }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="car_periodic_maintenance_fees_amount_postpone == false">
                      <ion-label>Car Periodic Maintenance Fees:</ion-label>
                      <ion-badge slot="end">{{ car_periodic_maintenance_fees_amount }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="rent_fees_amount_postpone == false">
                      <ion-label>Rent Fees:</ion-label>
                      <ion-badge slot="end">{{ rent_fees_amount }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="veterinarian_fees_amount_postpone == false">
                      <ion-label>Veterinarian Fees:</ion-label>
                      <ion-badge slot="end">{{ veterinarian_fees_amount }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="pet_food_bill_amount_postpone == false">
                      <ion-label>Pet Food Bill:</ion-label>
                      <ion-badge slot="end">{{ pet_food_bill_amount }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="new_house_bill_amount_postpone == false">
                      <ion-label>New House Bill:</ion-label>
                      <ion-badge slot="end">{{ new_house_bill_amount }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="new_car_bill_amount_postpone == false">
                      <ion-label>New Car Bill:</ion-label>
                      <ion-badge slot="end">{{ new_car_bill_amount }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="vacation_bill_amount_postpone == false">
                      <ion-label>Vacation Bill:</ion-label>
                      <ion-badge slot="end">{{ vacation_bill_amount }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="paint_house_fees_amount_postpone == false">
                      <ion-label>Paint House Fees:</ion-label>
                      <ion-badge slot="end">{{ paint_house_fees_amount }} $</ion-badge>
                    </ion-item>
                  </ion-card-content>
                </ion-card>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-card-content>
      </ion-card>      
    </ion-slide>
    <ion-slide>
     <ion-card>
        <ion-card-title>Wallet Until 1-{{month_plus_2 }}-{{year_plus_1}}</ion-card-title>
        <ion-card-content>
          <ion-accordion-group>
            <ion-accordion *ngIf="income_str > '0'" [disabled]="false">
              <ion-item slot="header">
                <ion-label class="remaining">Remaining:</ion-label>
                <ion-badge slot="end" *ngIf="remaining_second_month > 0">{{ remaining_second_month }} $</ion-badge>
                <ion-badge class="badge2" slot="end" *ngIf="remaining_second_month <= 0">{{ remaining_second_month }} $</ion-badge>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-card>
                  <ion-card-content>
                    <ion-item>
                      <ion-label>Income:</ion-label>
                      <ion-badge slot="end">{{ income }} $</ion-badge>
                    </ion-item>
    
                    <ion-item *ngIf="property_tax_amount_postpone_2 == false">
                      <ion-label>Property Tax:</ion-label>
                      <ion-badge slot="end">{{ property_tax_amount_2 }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="mechanic_tax_amount_postpone_2 == false">
                      <ion-label>Mechanic Tax:</ion-label>
                      <ion-badge slot="end">{{ mechanic_tax_amount_2 }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="municipality_tax_amount_postpone_2 == false">
                      <ion-label>Municipality Tax:</ion-label>
                      <ion-badge slot="end">{{ municipality_tax_amount_2 }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="car_insurance_amount_postpone_2 == false">
                      <ion-label>Car Insurance:</ion-label>
                      <ion-badge slot="end">{{ car_insurance_fees_amount_2 }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="cable_bill_amount_postpone_2 == false">
                      <ion-label>Cable Bill:</ion-label>
                      <ion-badge slot="end">{{ cable_bill_amount_2 }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="internet_bill_amount_postpone_2 == false">
                      <ion-label>Internet Bill:</ion-label>
                      <ion-badge slot="end">{{ internet_bill_amount_2 }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="electricity_bill_amount_postpone_2 == false">
                      <ion-label>Electricity Bill:</ion-label>
                      <ion-badge slot="end">{{ electricity_bill_amount_2 }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="generator_bill_amount_postpone_2 == false">
                      <ion-label>Generator Bill:</ion-label>
                      <ion-badge slot="end">{{ generator_bill_amount_2 }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="grocery_bill_amount_postpone_2 == false">
                      <ion-label>Grocery Bill:</ion-label>
                      <ion-badge slot="end">{{ grocery_bill_amount_2 }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="fuel_bill_amount_postpone_2 == false">
                      <ion-label>Fuel Bill:</ion-label>
                      <ion-badge slot="end">{{ fuel_bill_amount_2 }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="water_dispenser_bill_amount_postpone_2 == false">
                      <ion-label>Water Dispenser Bill:</ion-label>
                      <ion-badge slot="end">{{ water_dispenser_bill_amount_2 }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="phone_bill_amount_postpone_2 == false">
                      <ion-label>Phone Bill:</ion-label>
                      <ion-badge slot="end">{{ phone_bill_amount_2 }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="heating_bill_amount_postpone_2 == false">
                      <ion-label>Heating Bill:</ion-label>
                      <ion-badge slot="end">{{ heating_bill_amount_2 }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="bank_fees_amount_postpone_2 == false">
                      <ion-label>Bank Fees:</ion-label>
                      <ion-badge slot="end">{{ bank_fees_amount_2 }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="credit_card_fees_amount_postpone_2 == false">
                      <ion-label>Credit Card Fees:</ion-label>
                      <ion-badge slot="end">{{ credit_card_fees_amount_2 }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="school_fees_amount_postpone_2 == false">
                      <ion-label>School Fees:</ion-label>
                      <ion-badge slot="end">{{ school_fees_amount_2 }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="university_fees_amount_postpone_2 == false">
                      <ion-label>University Fees:</ion-label>
                      <ion-badge slot="end">{{ university_fees_amount_2 }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="car_maintenance_fees_amount_postpone_2 == false">
                      <ion-label>Car Maintenance Fees:</ion-label>
                      <ion-badge slot="end">{{ fuel_bill_amount_2 }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="car_periodic_maintenance_fees_amount_postpone_2 == false">
                      <ion-label>Car Periodic Maintenance Fees:</ion-label>
                      <ion-badge slot="end">{{ car_periodic_maintenance_fees_amount_2 }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="rent_fees_amount_postpone_2 == false">
                      <ion-label>Rent Fees:</ion-label>
                      <ion-badge slot="end">{{ rent_fees_amount_2 }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="veterinarian_fees_amount_postpone_2 == false">
                      <ion-label>Veterinarian Fees:</ion-label>
                      <ion-badge slot="end">{{ veterinarian_fees_amount_2 }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="pet_food_bill_amount_postpone_2 == false">
                      <ion-label>Pet Food Bill:</ion-label>
                      <ion-badge slot="end">{{ pet_food_bill_amount_2 }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="new_house_bill_amount_postpone_2 == false">
                      <ion-label>New House Bill:</ion-label>
                      <ion-badge slot="end">{{ new_house_bill_amount_2 }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="new_car_bill_amount_postpone_2 == false">
                      <ion-label>New Car Bill:</ion-label>
                      <ion-badge slot="end">{{ new_car_bill_amount_2 }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="vacation_bill_amount_postpone_2 == false">
                      <ion-label>Vacation Bill:</ion-label>
                      <ion-badge slot="end">{{ vacation_bill_amount_2 }} $</ion-badge>
                    </ion-item>

                    <ion-item *ngIf="paint_house_fees_amount_postpone_2 == false">
                      <ion-label>Paint House Fees:</ion-label>
                      <ion-badge slot="end">{{ paint_house_fees_amount_2 }} $</ion-badge>
                    </ion-item>
                  </ion-card-content>
                </ion-card>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>


  <ion-card *ngIf="income_str <= '0'">
    <ion-card-title>MY WALLET</ion-card-title>
    <ion-card-content>
      <ion-accordion-group>
        <ion-accordion *ngIf="income_str <= '0'" [disabled]="true">
          <ion-item slot="header">
            <ion-badge slot="end">{{ remaining }}</ion-badge>
            <ion-label class="remaining">Remaining: (No Income)</ion-label>
          </ion-item>
        </ion-accordion>
      </ion-accordion-group>
    </ion-card-content>
  </ion-card>

  <br>
  <br>
  <br>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="add()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
