ion-header::after
{
    display: none;
}

ion-toolbar
{
    --background: #663399;
    color: #FFFFFF;
    text-align: center;
}

ion-title
{
    font-size: 30px;
    font-weight: bold;
}

ion-content
{
  --background: #663399;
}

h1
{
    text-align: center;
    color: white;
    font-weight: bold;

}

p
{
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;    
}

ion-card-title
{
    color: white;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    font-size: 20px;
}

ion-card
{
    --background: #8800C7;
}

.list
{
    background-color: #8800C7;
}

ion-item
{
    --background: #8800C7;
    color: white;
}

ion-item-option
{
    --background: white;
    --color: #8800C7
}

.ion-padding
{
    background-color: #663399;
}

.remaining
{
    font-size: 20px;
}

ion-badge
{
    --background: #8800C7;
    color: white;
    --padding: 1em;
    --height: 30px;
    font-size: 25px;

}

ion-label
{
    font-weight: bold;
}

.badge
{
    color: red;
}
