ion-header::after
{
    display: none;
}

ion-toolbar
{
    color: #FFFFFF;
    text-align: center;
}

ion-title
{
    font-size: 30px;
    font-weight: bold;
}

ion-content
{
  --background: #4D267E;
}

h1
{
    text-align: center;
    color: white;
    font-weight: bold;

}

p
{
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;    
}

ion-card-title
{
    color: white;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    font-size: 20px;
}

ion-card-subtitle
{
    color: white;
    font-weight: 600; //semibold font
    text-decoration: underline;
    text-align: center;
    font-size: 15px;
}

ion-card
{
    --background: #582B8F;
}

.list
{
    background-color: #582B8F;
}

ion-item
{
    --background: #582B8F;
    color: white;
}

ion-item-option
{
    --background: white;
    --color: #582B8F;
}

.ion-padding
{
    background-color: #582B8F;
}

.remaining
{
    font-size: 20px;
}

ion-badge
{
    --background: #582B8F;
    color: white;
    --padding: 1em;
    --height: 30px;
    font-size: 25px;

}

ion-label
{
    font-weight: bold;
}

.badge
{
    color: red;
}

ion-fab-button
{
    --background: #582B8F;
}

.add-button
{
    font-size: 50px;
}

ion-searchbar
{
    --background: white;
    --color: #4D267E;
}