ion-header::after
{
    display: none;
}

ion-toolbar
{
    --background: #582B8F;
    color: white;
    text-align: center;
}

ion-title
{
    font-size: 30px;
    font-weight: bold;
}

ion-content
{
    --background: #4D267E;
}

ion-item
{
    --background: white;
    --color: #582B8F;
}

.income-button
{
    --background: white;
    --color: #582B8F;
    font-weight: bold;
    font-size: 25px;
    
}

.ion-padding
{
    background-color: #582B8F;
}

ion-datetime
{
    --background: white;
}

ion-button
{
    --background: #4D267E;
    --color: white;
}

ion-label
{
    text-align: center;
}

ion-icon
{
    height: 45px;
    width: 45px;
}