/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.add-income-alert //used for addIncome() in add.page.ts
{
    .alert-wrapper
    {
        background: white;
    }
    
    button.alert-button.cancel-button
    {
        color: red;
        font-size: 20px;
        font-weight: bold;
    }

    button.alert-button.submit-button
    {
        color: #663399;
        font-size: 20px;
        font-weight: bold;
    }

    .alert-head
    {
        background: #663399;
    }

    .alert-title
    {
        color: white;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }

    .alert-input
    {
        color: #663399;
        font-weight: bold;
        font-size: 25px;
    }
}

.add-income-submit-alert
{
    .alert-wrapper
    {
        background: white;
    }

    .alert-head
    {
        background: white;
    }

    .alert-message
    {
        background: white;
        color: #663399;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }

    button.alert-button.ok-button
    {
        color: #663399;
        font-size: 22px;
        font-weight: bold;
    }
}

.error-income-alert //used if user enters an invalid input in addIncome()
{
    .alert-wrapper
    {
        background: #663399;
    }

    .alert-head
    {
        background: #663399;
    }

    .alert-title
    {
        color: red;
        font-weight: bold;
        font-size: 35px;
        text-align: center;
        text-decoration: underline;
    }

    .alert-sub-title
    {
        color: white;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }

    .alert-message
    {
        color: white;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }

    button.alert-button.ok-button
    {
        color: white;
        font-size: 22px;
        font-weight: bold;
    }
}

.alert-income-alert //used in alertIncome() in add.page.ts
{
    .alert-wrapper
    {
        background: white;
    }

    .alert-head
    {
        background: #663399;
    }

    .alert-title
    {
        color: white;
        font-weight: bold;
        font-size: 35px;
        text-align: center;
        text-decoration: underline;
    }

    .alert-sub-title
    {
        color: white;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }

    .alert-message
    {
        color: #663399;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }

    button.alert-button.ok-button
    {
        color: #663399;
        font-size: 20px;
        font-weight: bold;
    }
}

.delete-income-error-alert
{
    .alert-wrapper
    {
        background: #663399;
    }

    .alert-head
    {
        background: #663399;
    }

    .alert-title
    {
        color: red;
        font-weight: bold;
        font-size: 35px;
        text-align: center;
        text-decoration: underline;
    }

    .alert-message
    {
        color: white;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }

    button.alert-button.ok-button
    {
        color: white;
        font-size: 22px;
        font-weight: bold;
    }
}
.delete-income-alert //used for deleteIncome() in settigs.page.ts
{
    .alert-wrapper
    {
        background: white;
    }

    .alert-head
    {
        background: white;
    }

    .alert-title
    {
        color: #663399;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    button.alert-button.ok-button
    {
        color: #663399;
        font-size: 20px;
        font-weight: bold;
    }
}

.loading-screen
{
    background-color: #4D267E;
    color: #582B8F;
    font-weight: bold;
    --ion-color-primary: #582B8F;

    .loading-wrapper
    {
    background-color: white;

    }
}

.forecast-title
{
    font-size: 15px;
}
