ion-header::after
{
    display: none;
}

ion-toolbar
{
    --background: #582B8F;
    color: #FFFFFF;
    text-align: center;
}

ion-title
{
    font-size: 30px;
    font-weight: bold;
}

ion-content
{
  --background: #582B8F;
}

ion-card
{
    --background: #4D267E;
    --color: white;
}

ion-card-header
{
    color: white;
    font-weight: bold;
    font-size: 30px;
}

ion-item
{
    --background: #582B8F;
    --color: white;
}

.label
{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

ion-input
{
    font-size: 20px;
}

ion-button
{
    --background: #582B8F;
    --color: white;
    font-size: 25px;
    font-weight: bold;
    
}