<ion-header>
  <ion-toolbar>
    <ion-title>password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-card>
    <ion-card-header>Enter The Password Please</ion-card-header>
    <ion-card-content>
      <br>
      <form (ngSubmit)="submit()">
        <ion-item>
          <ion-label class="label">Password</ion-label>
          <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
        </ion-item>
        <ion-button type="submit">Submit</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
  

</ion-content>
