<ion-header [translucent] = "true">
  <ion-toolbar>
    <a href = "#/app/pages/main/main.page.html"><img class="img" src = "assets\icon\lifebud_logo_88.jpg"/></a>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-tabs>
    <ion-tab-bar slot = "bottom">
      <ion-tab-button tab = "main">
        <ion-icon name = "home"></ion-icon>
        <ion-label><b>Home</b></ion-label>
      </ion-tab-button>

      <ion-tab-button tab = "add">
        <ion-icon name = "add"></ion-icon>
        <ion-label><b>Add</b></ion-label>
      </ion-tab-button>

      <ion-tab-button tab = "done">
        <ion-icon name = "checkmark"></ion-icon>
        <ion-label><b>Done Tasks</b></ion-label>
      </ion-tab-button>

      <ion-tab-button tab = "settings">
        <ion-icon name = "settings"></ion-icon>
        <ion-label><b>Settings</b></ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>