ion-toolbar
{
  --background: #8800C7;
  color: #FFFFFF;
}


ion-header
{
  text-align: center;
}

ion-content
{
  --background: #663399;
}

ion-tab-bar, ion-tab-button
{
  background-color: #8800C7;
  font-size: 20px;
  --color: #FFFFFF;
  height: 70px;

  --color-selected: #B669C6;
}

ion-icon
{
  font-size: 30px;

}

